@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* reset */
#root {
    width: 100%;
  /*  background-color: #E1E1E1; */
}
*   {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

*   {
    color:#2199df;
    text-decoration:unset;
}

ul{
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"]{
    border:none;
    background:none;
    color:unset;
    cursor:pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1 em 0;
}

/* general */

body{
    font-family: "Roboto", sans-serif;
    width:100%;
    height: 100%;
}

.page{
    height:100%;
    margin-left: 4%;
    margin-right: 4%;
    /* background-color: #E1E1E1; */
    margin-bottom: 10px;
}

.container{
    margin: 0 auto;
    width:100%;
    max-width: 100%;
    padding: none;
    margin:none;
    height: 100%;
}

/* header */

#header {
    height: 50px;
    display: flex; /*flex by default horizontally aligns components*/
    /*or it's supposed to*/
    justify-content: space-between;
    align-items:center;
    background-color: #e02525;
} /*selecting id of header */ 

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: white;
} /*id header & class title*/

#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: #b91b1b;
    color: white;
    font-size: 1.1rem;
}

#header .auth-options button:hover {
    background-color: #be3a3a;
}
/* Login*/
.page2{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%; /*^this will make the page take up the whole screen^*/
    background-color: #47525E; 
    opacity: 0.8;
}
.loginPageContainer{
    position: relative;
}
.loginContainer{

    /* Center vertically */
    position: absolute;
    top: 20%;
    left:35%;
    background-color: #FFFFFF;
    width: 600px;
    height: 650px;
    text-align: center;
}
.loginT{
    margin-top: 75px;
    color: #47525E;
    font-family: Lato;
    font-size: 40px;
    line-height: 51px;
    width: 600px;

}
.loginP{
    
    color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    line-height: 28px;
    width: 369px;
    margin-left: 110px;
    text-align: center;
    margin-bottom:35px;
    margin-top:15px;
}
.loginTextBox{
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 287px;
    height: 58px;
}
.loginBtn{
    background-color: #47525E;
    border-radius: 5px;
    width: 288px;
    height: 59px;
}
.loginForgotPw{
    color: #8190A5;
    font-family: Lato;
    font-size: 14px;
    line-height: 22px;
    width: 600px;
    text-align: center;
}

/* Form2, login form*/

.form2 label,
.form2 input{
    display: block;
    
}

.form2 input {
    text-align: center;
    margin-bottom: 1rem;
}
.form2 label {
    margin-bottom: 0.2rem;
}
.form2 input[type="text"],
.form2 input[type="email"],
.form2 input[type="password"] {
    width: 50%;
    min-height: 50px;
    padding: 0.3rem;
    margin-left: 140px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: f0f0f0;
    font-size: 1.1rem;
    
}
.form2 input:focus{
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}
.form2 input[type="submit"]{
    margin-left: 146px;
    padding: 0.3rem 0.5rem;
    background-color: #47525E;
    border-radius: 5px;
    width: 288px;
    height: 59px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 18px;
}

/* Tutorial form */

.form label,
.form input{
    display: block;
}

.form input {
    margin-bottom: 1rem;
}
.form label {
    margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: f0f0f0;
    font-size: 1.1rem;
}
.form input:focus{
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}
.form input[type="submit"]{
    padding: 0.3rem 0.5rem;
    border: 1px solid #6aa051;
    border-radius: 8px;
    background-color: #bce4aa;
    font-size: 1.1rem;
}

/*error notice*/

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
}

.error-notice button{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: #df4343;
    color: white;
}

/* Home page */
.homeTop{
    background-image: url(./images/Raster.jpg);
    background-size: cover;
    border-color: #b91b1b;
    height: 100%;
    border: 2px solid #c2c2c2;
    border-radius:1px;
}

.t1t {
    margin-left:1%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 40px;
    line-height: 71px;
    text-align: left;
    float:left;
  }
.tLinks {
color: #FFFFFF;
font-family: Lato;
font-size: 25px;
line-height: 42px;
text-align: left;
float:right;
  }
.openheader{
    margin-top: 10%;
    margin-bottom: 6.5%;
    margin-left: 10%;
    text-align: center;
}
.t1p {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 30px;
    line-height: 130%;
    width: 575px;
    font-weight: bold;

  }

.t1Btn{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 35px;
    line-height: 45px;
    background-color: #3394CC;
    border-radius: 36px;
    width: 240px;
    height: 70px;
    font-weight: bold;
}
.t2t{
    color: #47525E;
    font-family: Lato;
    font-size: 39px;
    line-height: 50px;
    text-align: center;
}
.t2p{
    color: #47525E;
    font-family: Lato;
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 20%;
    width: 100%;
    text-align: center;
    
}
.t2p2{
    color: #47525E;
    font-family: Lato;
    font-size: 2rem;
    line-height: 50px;
    text-align: center; 
    font-weight: bold;
}
.aboutSection{
    text-align: center;
    width:50%;
    margin: auto;
}
.homeBook1 {
    background-image: url(./images/ExampleBook1.png);
    background-size: cover;
    width: 178px;
    height: 284px;
    float: left;
  }
  .homeBook2 {
    background-image: url(./images/ExampleBook2.png);
    background-size: cover;
    width: 178px;
    height: 284px;
    float: left;
    margin-left: 10px
  }
  .homeBook3 {
    background-image: url(./images/ExampleBook3.png);
    background-size: cover;
    width: 178px;
    height: 284px;    
    float: left;
    margin-left: 10px
  }
  .homeBook4 {
    background-image: url(./images/ExampleBook4.png);
    background-size: cover;
    width: 178px;
    height: 284px;
    float: left;
    margin-left: 10px
  }
  .homeLeftArrow{
    background-image: url(./images/LeftArrow.png);
    background-size: cover;
    width: 64px;
    height: 64px;
    float: left;
  }
  .homeRightArrow{
    background-image: url(./images/RightArrow.png);
    background-size: cover;
    width: 64px;
    height: 64px;
    float: left;
  }
/* Logged-in Page */
.page-loggedin{
    background-color: #E1E1E1;
    width: 100%;
}

/*myBooks*/

.myBook1 {
    background-image: url(./images/ExampleBook1.png);
    background-size: cover;
    width: 178px;
    height: 284px;
    clear: both;
  }
.bookContainer{
    clear: both;
}
.tRow{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 35px;
    line-height: 45px;
    background-color: #3394CC;
    border-radius: 36px;
    width: 240px;
    height: 70px;
    font-weight: bold;
}   

.bookDetailsBtn{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 35px;
    line-height: 45px;
    background-color: #3394CC;
    border-radius: 36px;
    width: 120px;
    height: 70px;
    font-weight: bold;
}
.myBooksTitle{
    text-align: center;
}