div.parentdiv {
  float: none;
  display: inline-block;
  top: 0;
  width: 100%;
  margin-left: 17%;
}

div.searchbar{
  float: none;
  display: inline-block;
  margin-top: 0%;
  margin-left: 47%;
}
label.searchlbl{
  font-size: 35px;
}

a.search{
  padding-top: 1px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

a.createnew {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  margin-top: 4%;
  text-shadow: 0px 1px 0px #528ecc;
}

.createnew:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.createnew:active {
	position:relative;
	top:1px;
}


.search:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}


.search:active {
	position:relative;
	top:1px;
}

