
    div.parentdiv{
        display: inline-block;
        top: 0;
        width: 100%;
        margin-top: 10%;
        position: absolute;
    }

    img.thumbnail{
        display: inline-flexbox;
        margin-left: 20%;
    }

    label.message{
        margin-top: 10%;
    }

    a.post {
        box-shadow: 3px 4px 0px 0px #1564ad;
        background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color: #79bbff;
        border-radius: 5px;
        border: 1px solid #337bc4;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 12px 44px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528ecc;

    }

    div.test{
        
        width: 1000px; 
        height: 300px; 
        background-color: rgb(203, 203, 245);  
    }

    div.postcomment {

    }

    label.message{
        color: #1564ad;
        font-size: large;
    }

    div.thumbnail {
        display: inline-block;
        margin-left: 25%;
        display: inline-block;
    }