.Book-Result {
    width:  60%;
    border: 1px solid gray;
    padding: 2%;
    border-radius: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color:black;
}
.book-info {

}
.searchbook {
    width: 200px;
}
.title {
    color:black;
}
.author {
    color:black;
}
.add {
    border: 1px solid gray
}